# Database
DATABASE_URL=postgresql://klipeo_admin:YOUR_PASSWORD@your-rds-endpoint:5432/klipeo?sslmode=require&uselibpqcompat=true

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_API_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
